@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


body{
    background-image: url("movie.jpeg");

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    background-color: #f4f4f4;


    height: 100vh;
    margin: 0;
    padding: 0;
    color: black;

}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
p{
    justify-content: center;
    color: #f4f4f4;
}
