  <nav>
    <div class="site-title">
    <h1>Movie Information Website</h1>
    </div>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users/create">New User</a></li>
    </ul>
  </nav>