  <nav>
    <div class="site-title">
      <a href="/"><h1>Movie Information Website</h1></a>
    </div>
    <ul>
      <li><a href="/">Movies</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users/create">New User</a></li>
    </ul>
  </nav>