<html lang="en">
<%- include("./partials/header.ejs") %>

<body>

  <nav>
    <div class="site-title">
    <h1>Movie Information Website</h1>
    </div>
    <ul>
      <li><a href="/movies">Movies</a></li>
<!--       <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users/create">New User</a></li> -->
    </ul>
  </nav>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
  </div>


</html>