<html lang="en">
<%- include("./partials/header.ejs") %>

<body>

  <nav>
    <div class="site-title">
    <h1>Movie Information Website</h1>
    </div>
    <ul>
      <li><a href="/movies">Movies</a></li>
<!--       <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users/create">New User</a></li> -->
    </ul>
  </nav>
  <div class="about content">
    <h2>About Us</h2>
    <div id="Names">
      <h3>Sumukha</h3>
      <h3>Anurag</h3>
      <h3>Gagan</h3>
      <h3>Shreyas</h3>
      <h3>Darshan</h3>
    </div>
 </div>


</html>