<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-user content">
    <form action="/users/create" method="POST">
      <label for="user_name">Name:</label>
      <input type="text" id="Name" name="Name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required>
      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" required>
      <button>Submit</button>
    </form>
  </div>


</body>
</html>