<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <nav>
    <div class="site-title">
    <h1>Movie Information Website</h1>
    </div>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <li><a href="/reviews">Reviews</a></li>
    </ul>
  </nav>

  <div class="create-review content">
    <form action="/reviews/create" method="POST">
      <!-- <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required> -->
      <label for="rating_id">Rating id:</label>
      <input type="Number" id="rating_id" name="rating_id">
      <label for="review_text">Review text:</label>
      <textarea id="review_text" name="review_text" required></textarea>
      <button>Submit</button>
    </form>
  </div>


</body>
</html>