<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <!-- <%- include("./partials/nav.ejs") %> -->
  <nav>
    <div class="site-title">
    <h1>Movie Information Website</h1>
    </div>
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/logout">Logout</a></li>
 <!--      <li><a href="/reviews">Reviews</a></li>
      <li><a href="/users/create">New User</a></li> -->
    </ul>
  </nav>
  <div class="movies content">
    <h1>All Movies</h1>

    <% if (movies.length > 0) { %>
        <% movies.forEach(movie => {%>
          <a class="single" href="/movies/<%= movie._id %>">
        <h3><%=movie.title %></h3>
            <a/>
        <%})%>
    <%  %>
    <% } else { %>
        <p>There are no movies to display...</p>
      <% } %>
  </div>

  
</body>
</html>
