<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Movie Information Website</h1></a>
    </div>
    <ul>
      <li><a href="/movies">Movies</a></li>
      <!-- <li><a href="/reviews">Reviews</a></li> -->
      <li><a href="/reviews/create">New Review</a></li>
    </ul>
  </nav> 
  <div class="movies content">
    <h2>All Reviews</h2>

    <% if (reviews.length > 0) { %>
        <% reviews.forEach(review => {%>
        <h3><%=review.rating_id %></h3>
        <p><%= review.review_text %></p>
        <%})%>
    <%  %>
    <% } else { %>
        <p>There are no reviews to display...</p>
      <% } %>
  </div>

  
</body>
</html>
